:root {
  --cannonTurretDiameter: 55%;
  --cannonBarrelWidth: 12%;
}

.cannon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--cannonTurretColor);
  width: var(--cannonTurretDiameter);
  height: var(--cannonTurretDiameter);
  border-radius: 50%;
}

.cannonBarrel {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: var(--cannonBarrelWidth);
  height: 60%;
  transform-origin: bottom center;
  transform: translateX(-50%) rotateZ(var(--cannonAimAngle));
  background-color: var(--cannonBarrelColor);
}

.cannonMount {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: var(--cannonBarrelWidth);
  /* By setting height and padding-bottom, the height is as big as the width */
  height: 0%;
  padding-bottom: var(--cannonBarrelWidth);
  border-radius: 50%;
  background-color: var(--cannonBarrelColor);
}
